[submodule "mods/character_anim"]
	path = mods/character_anim
	url = https://github.com/appgurueu/character_anim
[submodule "mods/modlib"]
	path = mods/modlib
	url = https://github.com/appgurueu/modlib
[submodule "mods/cmdlib"]
	path = mods/cmdlib
	url = https://github.com/appgurueu/cmdlib
[submodule "mods/gunslinger"]
	path = mods/gunslinger
	url = https://github.com/Elkien3/gunslinger
[submodule "mods/gunslinger_rangedweapons"]
	path = mods/gunslinger_rangedweapons
	url = https://github.com/Elkien3/gunslinger_rangedweapons
